
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Henny Penny', cursive;
font-family: 'Roboto', sans-serif;
*/


.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    margin-left: 23em;
    margin-top: 8em;
    width: 600px;
}
#left-side{
    align-self: flex-start;
    height: 280px;
    background-color:rgb(214, 40, 41, 0.5);
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 6em;
    font-family: 'Roboto', sans-serif;
    width: 250px;
}

h3 {
    align-self:center;
    font-family: 'Henny Penny', cursive;
    font-size: 40px;
    color:  rgb(252, 191, 73);
}

form{
    position: absolute;
    align-self:flex-end;
    height:240px;
    background-color:rgb(214, 40, 41, 0.5);
    border-radius: 4px;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    width: 260px;
}

#customer-comment{
    width: 245px;
    height:80px;
}

#submit-button{
    background-color:rgb(214, 40, 41, 0.5);
    color:white;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 250px;
}

#customer_msg{
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: center;
    background-color:rgb(214, 40, 41, 0.5);
    color:white;
    width: 500px;
    right: 20%;
}